<% layout('boilerplate2') %>


    <p class="cta bold">Scroll  <i class="fas fa-long-arrow-alt-right"></i></i></p>
    <div id="page-content-wrapper">
        <div class="wrapper">
        <% news.forEach(function (item, i) {%>
            <% if(item && i < 10) {%> 
            <% if(i%2 == 0) {%> 
                <div class="news-container slide-in-h" >
                    <div>
                        <p class="bold"><%= item.Info.Date.toString().slice(0, 10) %></p>
                        <h1><%= item.Article.Title %></h1>
                        <% let snippet = item.Article.SummaryText[0].concat(item.Article.SummaryText[1]).slice(0, 200); %> 
                        <% if(!((/[a-zA-Z]/).test(snippet.charAt(snippet.length - 1)))) { snippet = snippet.slice(0, snippet.length - 1) }%> 
                        <!-- <p><%=snippet%>...</p> -->
                        <p><%= item.Article.TrailText %></p>
                        <br>
                        <% if(item.Image.ImageFileURL.length) {%> 
                        <img class="news-img" src="<%=item.Image.ImageFileURL%>" alt="<%=item.Image.Caption%>">
                        <% } %> 
                        <a class="btn btn-0" href="/<%=item.ObjectId%>">Start reading</a>
                    </div>
                </div>
                <div class="divider"></div>
            <% } else {%> 
                <div class="news-container slide-in-h" >
                    <div>
                        <% if(item.Image.ImageFileURL.length) {%> 
                            <img class="news-img" src="<%=item.Image.ImageFileURL%>" alt="<%=item.Image.Caption%>">
                            <% } %> 
                        <br>
                        <br>
                        <p class="bold"><%= item.Info.Date.toString().slice(0, 10) %></p>
                        <h1><%= item.Article.Title %></h1>
                        <% let snippet = item.Article.SummaryText[0].concat(" ", item.Article.SummaryText[1]).slice(0, 200); %> 
                        <% if(!((/[a-zA-Z]/).test(snippet.charAt(snippet.length - 1)))) { snippet = snippet.slice(0, snippet.length - 1) }%>
                        <!-- <p><%=snippet%>...</p> -->
                        <p><%= item.Article.TrailText %></p>
                        <a class="btn btn-0" href="/<%=item.ObjectId%>">Start reading</a>
                    </div>
                </div>
                <% if(i != news.length - 1) {%> 
                    <div class="divider"></div>
                <% } %> 
            <% } %> 
            <% } %> 
        <% }) %> 
        </div>
    </div>

<script>
    var item = document.getElementById('page-content-wrapper');
    
    window.addEventListener('wheel', function(e) {
        if (e.deltaY > 0) item.scrollLeft += 100;
        else item.scrollLeft -= 100;
    });
</script>