<% layout('boilerplate2') %>

    <a class="backToFront bold" style="color: #1b1f24;"><i class="fas fa-long-arrow-alt-left"> </i>Back to front</a>
    <p class="cta bold" style="color: #1b1f24;">Scroll  <i class="fas fa-long-arrow-alt-right"></i></i></p>
    <div id="page-content-wrapper">
        <p class="type" style="display: none;"><%=type%></p>
        <% let mg = 2; %> 
        <% if(type == 'search') {%> 
            <% mg = 4; %> 
        <% } %> 
        <div class="wrapper" style="margin-top: <%=mg%>rem;">
            
            <div class="search">
                <% if(type == 'search') {%> 
                    <h2>Search results for "<%= query %> "</h2>
                    <form class="d-flex" action="/search" method='GET'>
                        <input class="form-control me-2" name="q" type="search" placeholder="Search all news" aria-label="Search" required>
                        <button class="search-btn" style="margin-top: 0;" type="submit">Search</button>
                        </form>
                <% } else {%> 
                    <h2><%=type[0].toUpperCase() + type.slice(1)%> News</h2>
                <% } %> 
            </div>
            
            <% if(!news) {%> 
                <h1 style="margin-left: 5rem; margin-top: -5rem;">No search results</h1>
            <% } else { %> 
                <% let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];  %>
                <% news.forEach(function (item, i) {%>
                    <% if(item) {%> 
                        <% if(i%2 == 0) {%> 
                            <div class="news-container slide-in-h" >
                                <div>
                                    <% let date = new Date( Date.parse(item.Info.Date)); %> 
                                    <div class="date-row" >
                                        <p class="bold"><%= days[date.getDay()] + date.toGMTString().slice(3, 16)%></p>
                                        <a class="tag" href="/<%=item.Info.SectionId%>"><%=item.Info.SectionId%></a>
                                    </div>
                                    <h1><%= item.Article.Title %></h1>
                                    
                                    <p><%= item.Article.TrailText %></p>
                                    <br>
                                    <% if(item.Image.ImageFileURL.length) {%> 
                                    <img class="news-img" src="<%=item.Image.ImageFileURL%>" alt="<%=item.Image.Caption%>">
                                    <% } %> 
                                    <a class="btn btn-0" href="/<%=type%>/<%=item.ObjectId%><%= type == 'search' ? '?q='+query : ''%>">Start reading</a>
                                </div>
                            </div>
                            <div class="divider"></div>
                        <% } else {%> 
                            <div class="news-container slide-in-h" >
                                <div>
                                    <% if(item.Image.ImageFileURL.length) {%> 
                                        <img class="news-img" src="<%=item.Image.ImageFileURL%>" alt="<%=item.Image.Caption%>">
                                        <br>
                                        <br>
                                    <% } %> 
                                    
                                    <% let date = new Date( Date.parse(item.Info.Date)); %> 
                                    <div class="date-row">
                                        <p class="bold"><%= days[date.getDay()] + date.toGMTString().slice(3, 16)%></p>
                                        <a class="tag" href="/<%=item.Info.SectionId%>"><%=item.Info.SectionId%></a>
                                    </div>
                                    <h1><%= item.Article.Title %></h1>
                                    
                                    <p><%= item.Article.TrailText %></p>
                                    <a class="btn btn-0" href="/<%=type%>/<%=item.ObjectId%><%= type == 'search' ? '?q='+query : ''%>">Start reading</a>
                                </div>
                            </div>
                            <div class="divider"></div>
                        <% } %> 
                    <% } %> 
                <% }) %> 
            <% } %> 
        </div>
    </div>

<script src="/js/jquery.min.js"></script>
<script src="/js/hScroll.js"></script>