<% layout('boilerplate2') %>
<div class="show-wrapper">
    <div class="show-container">
        <% let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];  %>
        <div class="show-col">
            <a href="/<%=type%><%= type == 'search' ? '?q='+query : ''%>" class="back"><p><i class="fas fa-angle-double-left"></i> Back to <%=type%> news</p></a>
            <br>
            <% let date1 = new Date( Date.parse(item.Info.Date)); %> 
            <p class="bold"><%= days[date1.getDay()] + date1.toGMTString().slice(3, 16) %></p>
            <h1><%= item.Article.Title %></h1>
            <% if(item.Info.Authors.length) {%> 
            <p class="bold">By <%for(let author of item.Info.Authors){%><%=author%>,<%}%></p>
            <% } %> 
            <p class="trailtext"><%= item.Article.TrailText %></p>
            <% if(item.Image.ImageFileURL.length) {%> 
            <img class="news-img" src="<%=item.Image.ImageFileURL%>" alt="<%=item.Image.Caption%>">
            <p class="caption"><%=item.Image.Caption%></p>
            <% } %> 
            <a class="btn btn-0" href="<%=item.Info.URL%>" target="_blank">View full article</a>
            <br>
            <br>
        </div>
        <div class="show-col">
            <% item.Article.SummaryText.forEach( function(scentence, i) { %> 
                <p><%= scentence.Sentence %> </p>
            <% }) %> 
            <br>
            <br>
            <p class="result">Character Count: <%= item.Article.SummLength %></p>
            <p class="result">Reduced From Original By: <%=(((item.Article.FullLength - item.Article.SummLength)/item.Article.FullLength)*100).toFixed(2)%>%</p>
            <br>
            <br>
            <p class="bold">Related queries</p>
            <% for(let i = 0; i < 5; i++) {%>
                <a class="btn btn-0" href="/search?q=<%=item.Article.Keywords[i].Word%>"><%= item.Article.Keywords[i].Word %> </a>
            <% } %> 
        </div>
    </div>
    <br>
    <br>
    <div class="hdivider"></div>
    <br>
    <% if(related.length) { %> 
    <div class="keep-reading slide-in">
        <p class="kr">Related stories</p>
        
        <div>
            <% for(let i = 0; i < related.length - 1; i++) {%> 
                <div class="related-news">
                    <% if(related[i].Image.ImageFileURL.length) {%> 
                        <img class="news-img" src="<%=related[i].Image.ImageFileURL%>" alt="<%=related[i].Image.Caption%>">
                    <% } %> 
                    <% let date2 = new Date( Date.parse(related[i].Info.Date)); %> 
                    <p class="bold"><%= days[date2.getDay()] + date2.toGMTString().slice(3, 16) %></p>
                    <p class="next-head"><%= related[i].Article.Title %></p>
                    <!-- <p class="trail"><%= related[i].Article.TrailText %></p> -->
                    <a class="btn btn-0" href="/<%=type%>/<%=related[i].ObjectId%><%= type == 'search' ? '?q='+query : ''%>">Start reading</a>
                </div>
                <div class="divider"></div>
            <% } %> 
            <div class="related-news">
                <% if(related[related.length - 1].Image.ImageFileURL.length) {%> 
                    <img class="news-img" src="<%=related[related.length - 1].Image.ImageFileURL%>" alt="<%=related[related.length - 1].Image.Caption%>">
                <% } %> 
                <% let date2 = new Date( Date.parse(related[related.length - 1].Info.Date)); %> 
                <p class="bold"><%= days[date2.getDay()] + date2.toGMTString().slice(3, 16) %></p>
                <p class="next-head"><%= related[related.length - 1].Article.Title %></p>
                <!-- <p><%= related[related.length - 1].Article.TrailText %></p> -->
                <a class="btn btn-0" href="/<%=type%>/<%=related[related.length - 1].ObjectId%><%= type == 'search' ? '?q='+query : ''%>">Start reading</a>
            </div>
        </div>
    </div>
    <% } %> 
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/vScroll.js"></script>